<div id="receiver-modal" class="ui tiny modal">
  <i class="close icon"></i>
  <div class="header">
    Nuevo destinatario
  </div>
  <div class="content">
    <div class="ui two column centered grid">
      <div class="column">
        <div id="message"></div>
        <%= form_for :receiver, url: receivers_create_remote_url, remote: true, html:{class:'ui form'} do |f| %>
          <div class="ui grid">
            <div class="ten wide column">
              <div class="field">
                <%= f.label :name, "Nombre" %>
                <%= f.text_field :name %>
              </div>
              <div class="field">
                <%= f.label :phone, "Teléfono" %>
                <%= f.text_field :phone %>
              </div>
              <div class="field">
                <%= f.label :address, "Dirección", class: "search" %>
                <%= f.text_field :address %>
              </div>
              <div class="field">
                <%= f.label :complement, "Idicaciones adicionales" %>
                <%= f.text_area :complement %>
              </div>
              <div class="hide">
                <%= f.text_field :lat %>
                <%= f.text_field :lon %>
              </div>
            </div>
          </div>
          <div class="ui hidden divider"></div>
          <%= f.submit 'Guardar', class: "ui green button" %>
        <% end %>
      </div>
      <div class="column">
        <div id="map-container">
          <%= image_tag 'map' %>
        </div>
      </div>
    </div>
  </div>
</div>
