<p id="notice"><%= notice %></p>

<h1>Receivers</h1>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @receivers.each do |receiver| %>
      <tr>
        <td><%= receiver.name %></td>
        <td><%= receiver.phone %></td>
        <td><%= receiver.address %></td>
        <td>
          <div class="ui buttons">
            <%= link_to receiver, class: "ui icon blue button" do %>
              <i class="info icon"></i>
            <% end %>
            <%= link_to edit_receiver_path(receiver), class: "ui icon teal button" do %>
              <i class="edit icon"></i>
            <% end %>
            <%= link_to receiver, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui icon red button" do %>
              <i class="remove icon"></i>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Receiver', new_receiver_path %>
