<p id="notice"><%= notice %></p>

      <table class="ui celled table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cédula de identidad</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Tipo de usuario</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.lastname %></td>
              <td><%= user.document %></td>
              <td><%= user.phone %></td>
              <td><%= user.email %></td>
              <td><%= user.user_type.title %></td>
              <td>
                <div class="ui buttons">
                  <%= link_to user, class: 'ui icon blue button', remote: true do %>
                    <i class="info icon"></i>
                  <% end %>
                  <%= link_to edit_user_path(user), class: 'ui icon teal button' do %>
                    <i class="edit icon"></i>
                  <% end %>
                  <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui icon red button' do %>
                    <i class="delete icon"></i>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

<div id="modal"></div>

<%= link_to 'New User', new_user_path %>
