<!DOCTYPE html>
<html>
  <head>
    <title>Eul</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui container">
      <br>
      <div class="ui secondary menu">
        <div class="header item">EUL</div>

        <div class="right menu">
          <%= button_to delete_url, method: :post, class: "ui item icon button pop", data:{content:"Cerrar sesión"} do %>
            <i class="ui remove icon"></i>
          <% end %>
        </div>
      </div>
      <div class="ui divider"></div>
      <div class="ui grid">
        <div class="four wide column">
          <div class="ui compact secondary vertical pointing fluid menu">
            <%= link_to dashboard_url, class: "item" do %>
              <i class="dashboard icon"></i>
              Dashboard
            <% end %>
            <div class="ui accordion">
              <div class="active title">
                <i class="dropdown icon"></i>
                Usuarios
              </div>
              <div class="content">
                <%= link_to users_url, class: 'item' do %>
                  Listado
                  <i class="users icon"></i>
                <% end %>
                <%= link_to new_user_url, class: 'item' do %>
                  Nuevo usuario
                  <i class="ui icon">
                    <i class="ui icons">
                      <i class="user icon"></i>
                      <i class="plus corner icon"></i>
                    </i>
                  </i>
                <% end %>
              </div>
            </div>
            <div class="ui accordion">
              <div class="active title">
                <i class="dropdown icon"></i>
                Roles
              </div>
              <div class="content">
                <%= link_to user_types_url, class: 'item' do %>
                  Listado
                  <i class="object group icon"></i>
                <% end %>
                <%= link_to new_user_type_url, class: 'item' do %>
                  Nuevo rol
                  <i class="ui icon">
                    <i class="ui icons">
                      <i class="object group icon"></i>
                      <i class="plus corner icon"></i>
                    </i>
                  </i>
                <% end %>
              </div>
            </div>
            <div class="ui accordion">
              <div class="active title">
                <i class="dropdown icon"></i>
                Paquetes
              </div>
              <div class="content">
                <%= link_to packages_url, class: 'item' do %>
                  Listado
                  <i class="cubes icon"></i>
                <% end %>
                <%= link_to new_package_url, class: 'item' do %>
                  Nuevo paquete
                  <i class="ui icon">
                    <i class="ui icons">
                      <i class="cubes icon"></i>
                      <i class="plus corner icon"></i>
                    </i>
                  </i>
                <% end %>
              </div>
            </div>
            <div class="ui accordion">
              <div class="active title">
                <i class="dropdown icon"></i>
                Contenedores
              </div>
              <div class="content">
                <%= link_to containers_url, class: 'item' do %>
                  Listado
                  <i class="archive icon"></i>
                <% end %>
                <%= link_to new_container_url, class: 'item' do %>
                  Nuevo contenedor
                  <i class="ui icon">
                    <i class="ui icons">
                      <i class="archive icon"></i>
                      <i class="plus corner icon"></i>
                    </i>
                  </i>
                <% end %>
              </div>
            </div>
            <div class="ui accordion">
              <div class="active title">
                <i class="dropdown icon"></i>
                Remitentes
              </div>
              <div class="content">
                <%= link_to receivers_url, class: 'item' do %>
                  Listado
                  <i class="smile icon"></i>
                <% end %>
                <%= link_to new_receiver_url, class: 'item' do %>
                  Nuevo remitente
                  <i class="ui icon">
                    <i class="ui icons">
                      <i class="smile icon"></i>
                      <i class="plus corner icon"></i>
                    </i>
                  </i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="twelve wide column">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
