<!DOCTYPE html>
<html>
  <head>
    <title>Eul</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% case session[:current_user_type] %>
      <% when 0 %>
        <%= render 'layouts/admin' %>
      <% when 1 %>
        <%= render 'layouts/employee'%>
      <% when 2 %>
        <%= render 'layouts/client'%>
    <% end %>
  </body>
</html>
