<!DOCTYPE html>
<html>
  <head>
    <title>Eul</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui container">
      <br>
      <div class="ui secondary menu">
        <div class="header item">EUL</div>
        <%= link_to users_url, class: 'item' do %>
          Usuarios
        <% end %>
        <%= link_to user_types_url, class: 'item' do %>
          Tipo de usuarios
        <% end %>
        <a class="item">
          Paquetes
        </a>
        <a class="item">
          Rutas
        </a>
        <div class="right menu">
          <%= button_to 'Salir', delete_url, method: :post, class: "ui item" %>
        </div>
      </div>
      <div class="ui divider"></div>
      <br>
      <div class="ui grid">
        <div class="four wide column">
          <div class="ui secondary vertical pointing fluid menu">
            <%= link_to users_url, class: 'item' do %>
              Usuarios
            <% end %>
            <%= link_to user_types_url, class: 'item' do %>
              Tipo de usuarios
            <% end %>
            <a class="item">
              Paquetes
            </a>
          </div>
        </div>
        <div class="twelve wide column">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
